.wrapper {
  position: relative;
  min-width: 70%;
  min-height: 80vh;
  margin-left: auto;
  margin-right: auto;
  background: aqua;
}

.head:hover,
.head:active {
  font-weight: 700;
}

.dnone {
  display: none;
}
